<section id="contact" class="bg-mistyRose py-16">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-bold text-darkPurple">Get In Touch</h2>
    <form class="mt-8 space-y-4">
      <input
        type="text"
        placeholder="Joshua La"
        class="w-full p-4 border rounded-lg bg-white text-darkPurple"
      />
      <input
        type="email"
        placeholder="lajoshua@umich.edu"
        class="w-full p-4 border rounded-lg bg-white text-darkPurple"
      />
			<!-- TODO: placeholder message -->
      <textarea
        placeholder="Your Message"
        class="w-full p-4 border rounded-lg bg-white text-darkPurple"
        rows="4"
      ></textarea>
      <button class="bg-darkPurple text-white px-6 py-3 rounded hover:bg-wisteria">
        Send Message
      </button>
    </form>
  </div>
</section>
