<section class="bg-mistyRose text-darkPurple h-screen flex flex-col items-center justify-center text-center">
	<h1 class="text-5xl font-bold">Hi, I'm Joshua<h1>
  <p class="text-2xl mt-4">A University of Michigan Computer Engineer</p>
  <a href="#projects" class="mt-8 bg-darkPurple text-white px-6 py-3 rounded hover:bg-wisteria">
    View My Work
  </a>
</section>
